/* ==========================
   Deekshitha Academy
   Responsive CSS
========================== */

/* Large Tablets */

@media (max-width: 992px) {

    .navbar{
        flex-direction:column;
        padding:20px;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        margin-top:15px;
    }

    .nav-links li{
        margin:10px 15px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-content{
        width:100%;
    }

    .hero-image{
        width:90%;
        margin-top:40px;
    }

    .hero-content h1{
        font-size:40px;
    }

    section{
        padding:60px 5%;
    }

}

/* Mobile */

@media (max-width:768px){

    .logo h2{
        font-size:26px;
    }

    .nav-links{
        flex-direction:column;
        align-items:center;
    }

    .nav-links li{
        margin:10px 0;
    }

    .hero{
        padding:50px 20px;
    }

    .hero-content h1{
        font-size:32px;
    }

    .hero-content p{
        font-size:16px;
    }

    .hero-buttons{
        display:flex;
        flex-direction:column;
        gap:15px;
        align-items:center;
    }

    .btn{
        width:220px;
        text-align:center;
        margin-right:0;
    }

    section h2{
        font-size:28px;
    }

    .course-container{
        grid-template-columns:1fr;
    }

    .highlight-card h3{
        font-size:34px;
    }

    .cta h2{
        font-size:30px;
    }

    .footer-content{
        grid-template-columns:1fr;
        text-align:center;
    }

}

/* Small Mobile */

@media (max-width:480px){

    .hero-content h1{
        font-size:26px;
    }

    .hero-content p{
        font-size:15px;
    }

    .logo h2{
        font-size:22px;
    }

    .card img{
        height:180px;
    }

    .testimonials img{
        width:90px;
        height:90px;
    }

    .highlight-card{
        padding:25px;
    }

    form input,
    form select,
    form textarea{
        font-size:15px;
    }

    .btn{
        width:100%;
    }

}